---
layout: default
---

<div class="home">
  <ul class="categories">
    {% for category in site.categories %}
      <li>
        <h2>{{category | first}}</h2>

          <ul class="posts">
            {% for posts in category %}
              {% for post in posts %}
              <li>
                <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </li>
              {% endfor %}
            {% endfor %}
          </ul>
      </li>
    {% endfor%}
  </ul>

  <!-- <ul class="posts">
    {% for post in site.posts %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul> -->

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
